body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

li {
    list-style: none;
}

img {
    border-radius: 12px;
}

button {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 8px;
}

/* -------------------------------------------------- */
/* Header section */
.section-1 {
    /* background-color: #1F2937; */
    background-image: url(./images/mt-pks.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #1F2937;
    padding: 0px 56px;
    margin: 0;
    color: #F9FAF8;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    font-size: 30px;
}
.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
/* -------------------------------------------------- */
/* main page */
.main-page {
    padding: 300px 100px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    max-width: 560px;
    justify-content: center;
    align-items: flex-start;
}


.main-page .main-content h1 {
    font-size: 48px;
    font-weight: 400;
    color: #F9FAF8;
    margin: 0;
}

.main-page .main-content p {
    font-size: 18px;
    color: #E5E7EB;
}

.main-page .image {
    background-color: #3882F6;
    /* min-width: none; */
    max-width: 1000px;
}
/* -------------------------------------------------- */
/* cards section */
.section-2 {
    color: #F9FAF8;
    background: linear-gradient( to bottom ,#070b10 70%, #1F2937);
    text-align: center;
    padding: 100px 0px;
}
.section-2 h1 {
    padding: 48px 20px;
}

.cards-container {
    padding: 0px 32px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.cards-container .info-card {
    text-align: center;
    box-sizing: border-box;
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info-cards-section .card-image{
    width: 450px;
    height: 450px;
    outline: solid 2px #1F2937;
    object-fit: cover;
}

.info-card p,
.info-card h1 {
    padding: 12px 0px;
    margin: 0;
    text-align: left;
    max-width: 420px;
}


/* -------------------------------------------------- */
/* quote section */
.section-3 {
    margin: 0;
    padding: 200px 0px;
    background-color: #1F2937;
}

.quote-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.quote {
    margin: 0;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding-bottom: 10px;
    max-width: 1000px;
    color: #F9FAF8;
}

.author {
    color: #E5E7EB;
    margin: 0;
    text-align: end;
    font-size: 20px;
    font-weight: 450;
}

/* -------------------------------------------------- */
/* contact section */
.section-4 {
    display: flex;
    justify-content: center;
    padding: 84px 0px;
}

.contact-container {
    padding: 20px 150px;
    margin: 30px 60px;
    display: flex;
    background-color: #3882F6;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    gap: 65px;
}

.contact-header {
    color: #F9FAF8;
}
.contact-subtext {
    color: #E5E7EB;
}
.contact-container .button {
    outline: solid #F9FAF8;
    outline-width: 2px;
    border-width: 0;
}

/* -------------------------------------------------- */
footer {
    font-size: 24px;
    margin: 0;
    padding: 16px 0px;
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.section-5 p {
    margin: 0;
}