body {
    margin: 0;
    padding: 0;
}

/* -------------------------------------------------- */
/* Header section */
.section-1 {
    margin: 0;
    padding: 0px 24px;
}
.header {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    
}
.header-links {
    display: flex;
    gap: 20px;
}